/*RESET*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	border: 0;
	font-family: inherit;
	font-size: 100%;
	font-style: inherit;
	font-weight: inherit;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: baseline;
}
li{
	list-style-type: none;
}
a{
	text-decoration: none;
}
.clear{
	clear: both;
	margin: 0px;
}

/* GLOBAL VARIABLES */
$near-black: #0f1012;
$light-grey: #b8b4aa;
$light-gold: #cec89f;
$dark-gold: #8f772d;
$silentina: 'SilentinaFilm-Regular', helvetica, arial, sans-serif;
$crimson: 'Crimson Text', Times New, serif;

/* MIXINS */
@mixin mickey-border{
	border-style: solid;
	border-width: 94px 95px;
	-moz-border-image: url('img/TDV_MickeyBorder.png') 94 95 stretch;
	-webkit-border-image: url('img/TDV_MickeyBorder.png') 94 95 stretch;
	-o-border-image: url('img/TDV_MickeyBorder.png') 94 95 stretch;
	border-image: url('img/TDV_MickeyBorder.png') 94 95 fill stretch;
}
@mixin border-split{
	border-style: solid;
	border-width: 20px 20px;
	-moz-border-image: url('img/TDV_Border_Split_top.png') 20 20 stretch;
	-webkit-border-image: url('img/TDV_Border_Split_top.png') 20 20 stretch;
	-o-border-image: url('img/TDV_Border_Split_top.png') 20 20 stretch;
	border-image: url('img/TDV_Border_Split_top.png') 20 20 fill stretch;
}
@mixin border{
	border-style: solid;
	border-width: 20px 20px;
	-moz-border-image: url('img/TDV_Border.png') 20 20 stretch;
	-webkit-border-image: url('img/TDV_Border.png') 20 20 stretch;
	-o-border-image: url('img/TDV_Border.png') 20 20 stretch;
	border-image: url('img/TDV_Border.png') 20 20 fill stretch;
}
@mixin border-no-bottom{
	border-style: solid;
	border-width: 20px 20px;
	-moz-border-image: url('img/TDV_Border_no_bottom.png') 20 20 stretch;
	-webkit-border-image: url('img/TDV_Border_no_bottom.png') 20 20 stretch;
	-o-border-image: url('img/TDV_Border_no_bottom.png') 20 20 stretch;
	border-image: url('img/TDV_Border_no_bottom.png') 20 20 fill stretch;
}
@mixin box-sizing($box-type){
	border-box: $box-type;
	-moz-box-sizing: $box-type; 
	-webkit-box-sizing: $box-type;
	-o-box-sizing: $box-type;
}
@mixin modal-effect{
	-webkit-transform: translateY(120%);
	-moz-transform: translateY(120%);
	-ms-transform: translateY(120%);
	transform: translateY(120%);
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

/* BASE */
body{
	@include mickey-border;
	background: $near-black;
	text-align: center;
}