.border{
	@include border;
}
.border-split{
	@include border-split;
}
.border-no-bottom{
	@include border-no-bottom;
}
/* MODAL STYLE */
.simplemodal-overlay{
	background-color: $near-black;
}
.simplemodal-container{
	bottom: 70px;
}
#microphone-modal{
	display: none;
	.microphone-button{
		margin: 0 auto;
		display: inline-block;
	}
	.microphone{
		margin-bottom: -39px;
	}
	.border-split{
		max-width: 600px;
		background-color: $near-black;
		@include background-clip;
		.modal-wrap{
			padding: 30px 50px 40px;
		}
	}
}
.branding{
	margin-top: 40px;
	img{
	}
}
.pagedown{
	margin-top: 120px;
	& *{
		display: block;
		text-align: center;
		margin: 0 auto;
	}
}
input[type=email]{
	font-size: 25px;
	line-height: 35px;
	@include border;
	@include background-clip;
	outline: none;
	font-family: $silentina;
	color: $dark-gold;
	width: 500px;
	height: 45px;
	text-align: center;
	background-color: Transparent;
}
input[type=submit]{
	background-image: url('img/submit-btn.png');
	width: 109px;
	height: 39px;
	background-repeat: no-repeat;
	border: none;
	font-family: $silentina;
	text-transform: uppercase;
	color: $dark-gold;
	font-size: 16px;
	background-color: Transparent;
	line-height: 25px;
	padding-top: 6px;
	display: block;
	text-align: center;
	margin: 0 auto;
	
}
@include placeholder-style($dark-gold);
