h1,h2,h3,h4{
	font-family: $silentina;
}
h1{
	font-family: 'Adobe Caslon Pro';
	font-weight: 300;
	font-size: 47px;
	color: $light-gold;
}
h3{
	font-size: 20px;
	color: $light-grey;
	line-height: 32px;
}