h1,h2,h3,h5,p{
	font-family: $silentina;
	color: $light-grey;
	margin: 0 auto;
}
h1{
	font-family: $crimson;
	font-weight: 100;
	font-size: 56px;
	font-style: italic;
	color: $near-white;
}
h3{
	font-size: 30px;
	color: $light-grey;
	line-height: 38px;
}
h4{
	font-family: $crimson;
	font-size: 14px;
	color: $light-grey;
}
/* MICROPHONE MODAL TYPOGRAPHY */
#microphone-modal{
	h4{
		font-style: italic;
		margin-top: 40px;
		cursor: pointer;
	}
	h5{
			&.tap-click:before{
				content: "Click";
			}
		}
  h3{
  		margin-top: 20px;
		}
}
h5{
  font-size: 13px;
}
p{
	font-size: 15px;
	line-height: 20px;
	max-width: 500px;
	margin-top: 30px;
	color: $light-gold;
}