h1,h2,h3,h5,p{
	font-family: $silentina;
	color: $light-grey;
	margin: 0 auto;
}
h1{
	font-family: $crimson;
	font-weight: 100;
	font-size: 56px;
	font-style: italic;
	color: $near-white;
	margin-bottom: 18px;
}
h3{
	font-size: 30px;
	color: $light-grey;
	line-height: 38px;
}
h4{
	font-family: $crimson;
	font-size: 14px;
	color: $light-grey;
}
/* MICROPHONE MODAL TYPOGRAPHY */
#microphone-modal{
	h4{
		font-style: italic;
		margin-top: 40px;
		cursor: pointer;
	}
	h5{
			&.tap-click:before{
				content: "Click";
			}
		}
  h3{
  		margin-top: 30px;
		}
}
h5{
 	font-size: 13px;
}
p{
	font-size: 16px;
	line-height: 22px;
	max-width: 500px;
	color: $light-gold;
	a{
		color: inherit;
	}
}
.two-up{
	columns: 220px 2;
	-webkit-columns: 240px 2;
	-moz-columns: 240px 2;
	-o-columns: 240px 2;
	column-gap: 20px;
	-webkit-column-gap: 40px;
	-moz-column-gap: 40px;
	-o-column-gap: 40px;
	text-align: left;
}